---
import CardProject from "../CardProject.astro";
import { projects } from "../../scripts/data";
---

<section class="bg-white/5">
  <div class="max-w-6xl mx-auto px-6 py-10">
    <h1
      class="text-5xl md:text-7xl font-black leading-[1.1] tracking-tight mb-20"
    >
      Selected Projects
    </h1>
    <p class="text-slate-400">
      A selection of my recent work in engineering and design.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        projects.map((project) => (
          <CardProject
            name={project.name}
            tag1={project.tag1}
            tag2={project.tag2}
            tag3={project.tag3}
            imgSrc={project.imgSrc}
            desc={project.desc}
            githubLink={project.githubLink}
            liveDemo={project.liveDemo}
          />
        ))
      }
    </div>
  </div>
</section>
