---
const { imgSrc, tag1, tag2, tag3, name, desc } = Astro.props;
---

<div
  class="group relative bg-background-dark border border-white/5 rounded-2xl overflow-hidden hover:-translate-y-2 hover:border-primary-500 transition-transform duration-300"
>
  <div class="h-64 bg-slate-800 overflow-hidden">
    <div
      class="w-full h-full bg-cover bg-center group-hover:scale-110 transition-transform duration-700"
      data-alt="Data visualization dashboard showing complex analytics charts"
      style={{ backgroundImage: `url('${imgSrc}')` }}
    >
    </div>
  </div>
  <div class="p-8">
    <div class="flex gap-2 mb-4">
      <span
        class="bg-primary-900 text-primary-500 text-[10px] font-bold px-2 py-0.5 rounded-full"
        >{tag1}</span
      >
      <span
        class="bg-primary-900 text-primary-500 text-[10px] font-bold px-2 py-0.5 rounded-full"
        >{tag2}</span
      >
      <span
        class="bg-primary-900 text-primary-500 text-[10px] font-bold px-2 py-0.5 rounded-full"
        >{tag3}</span
      >
    </div>
    <h3 class="text-2xl font-bold mb-2">{name}</h3>
    <p class="text-slate-400 mb-6 line-clamp-2">
      {desc}
    </p>
    <div class="flex gap-4">
      <button
        class="text-white bg-white/10 p-2 rounded-full hover:bg-primary-500 hover:text-dark-80 transition-all"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
          ></path>
        </svg>
      </button>
      <button
        class="text-white bg-white/10 p-2 rounded-full hover:bg-primary-500 hover:text-dark-80 transition-all"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
